<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${title}]]</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div id="member-home-root"></div>

<!-- Vite開発サーバーからReactを読み込む -->
<script type="module">
  import RefreshRuntime from 'http://localhost:5175/@react-refresh'
  RefreshRuntime.injectIntoGlobalHook(window)
  window.$RefreshReg$ = () => {}
  window.$RefreshSig$ = () => (type) => type
  window.__vite_plugin_react_preamble_installed__ = true
</script>

<script type="module" src="http://localhost:5175/@vite/client"></script>
<script type="module" src="http://localhost:5175/src/memberHomeMain.jsx"></script>

</body>
</html>